av==11.0.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
coloredlogs==15.0.1
# ctranslate2==4.5.0
faster-whisper==1.1.0
ffmpeg-python==0.2.0
filelock==3.16.1
flatbuffers==24.3.25
fsspec==2024.10.0
future==1.0.0
huggingface-hub==0.26.2
humanfriendly==10.0
idna==3.10
Jinja2==3.1.4
kaldialign
llvmlite==0.43.0
MarkupSafe==3.0.2
more-itertools==10.5.0
mpmath==1.3.0
networkx==3.2.1
numba==0.60.0
numpy<2
onnxruntime==1.16.0
openai-whisper==20240930
packaging==24.2
pkgconfig==1.5.5
protobuf==5.28.3
PyAudio==0.2.14
pycparser==2.22
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
scipy==1.13.1
soundfile==0.12.1
sympy==1.13.1
tiktoken==0.8.0
tokenizers==0.15.2
torch==2.5.1
torchaudio==2.5.1
tqdm==4.67.0
typing_extensions==4.12.2
urllib3==2.2.3
websocket-client==1.8.0
websockets==14.1
whisper-live @ git+https://github.com/cortinaHs/WhisperLive.git@cd48dfd6771c097a9222b0c2379d3a5977b76f2a
